.cabecalho__texto {
    align-items: center;
    background: var(--luz-escura);
    color: var(--branco);
    display: flex;
    justify-content: center;
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 500;
    height: 60px;
    width: 100%;
}

